*{
    padding:0%;
    margin: 0%;
    
}
.body {
    background-color: rgb(131, 179, 194);
    text-align: center;

}
.container{
    height:70vh;
    width: 70vh;
    text-align: center;

}
.game{
    height: 50vh;
    width:50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    text-align: center;
}
.box{
    height: 100px;
    width:100px;
    background-color: rgb(86, 99, 145);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(161, 161, 159);
    font-size: 10vmin;
    color: rgb(72, 226, 11);
    align-items: center;

}

.reset-btn{
    background-color: rgb(0, 0, 0);
    font-size: 1.5rem;
    color:rgb(255, 255, 255);
    border-radius: 20%;
    padding: 0%;

    
}
#newbtn{
    background-color: rgb(0, 0, 0);
    font-size: 1.5rem;
    color:rgb(255, 255, 255);
    border-radius: 20%;
    padding: 0%;

    
}
/*.game{
    height: 350px;
    width: 350px;
    margin: 0%;
    padding: 0%;
    background-color: aqua;
    align-items: center;
    justify-content: space-between;


}

.box1{
    height:100px;
    width:100px;
    background-color: antiquewhite;
    border-radius: 20%;
    color: black;
    font-size: 80px;
    padding: 0%;
    margin: 0%;
    border:4px solid  transparent;
    
    
    
}
.box1:hover{
    border:4px solid green;

}

.box2{
    height:100px;
    width:100px;
    background-color: rgb(35, 129, 35);
    border-radius: 20%;
    border: 2px solid black;
    font-size: 80px;
    padding: 0%;
    margin: 0%;
}
.box3{
    height:100px;
    width:100px;
    background-color: rgb(44, 172, 32);
    border-radius: 20%;
    border: 2px solid black;
    padding: 0%;
    margin: 0%;
    font-size: 80px;
}

.box4{
    height:100px;
    width:100px;
    background-color: rgb(173, 111, 75);
    border-radius: 20%;
    border: 2px solid black;
    padding: 0%;
    margin: 0%;
    font-size: 80px;
}

.box5{
    height:100px;
    width:100px;
    background-color: rgb(190, 171, 1);
    border-radius: 20%;
    border: 2px solid black;
    padding: 0%;
    margin: 0%;
    font-size: 80px;
}

.box6{
    height:100px;
    width:100px;
    background-color: rgb(9, 204, 25);
    border-radius: 20%;
    border: 2px solid black;
    padding: 0%;
    font-size: 80px;
    margin: 0%;
}

.box7{
    height:100px;
    width:100px;
    background-color: rgb(32, 99, 79);
    border-radius: 20%;
    border: 2px solid black;
    padding: 0%;
    font-size: 80px;
    margin: 0%;
}
.box8{
    height:100px;
    width:100px;
    background-color: rgb(192, 211, 18);
    border-radius: 20%;
    border: 2px solid black;
    font-size: 80px;
}

.box9{
    height:100px;
    width:100px;
    background-color: rgb(12, 175, 148);
    border-radius: 20%;
    border: 2px solid black;
    font-size: 80px;
}
*/

