*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(130, 223, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}*/
#board{
    background: linear-gradient(rgb(33, 141, 184) , rgb(176, 27, 196),rgb(196, 216, 16));
    width: 650px;
    height: 580px;
    border: 2.5px solid rgb(0, 0, 0);
    display: grid;
    grid-template-rows: repeat(25 ,1fr);
    grid-template-columns: repeat(25,1fr);
    
}

.food{
    background-color: blueviolet;
}

.head{
    background-color: rgb(226, 43, 43);
}

/*
#canvas1{
    border: 5px solid rgb(238, 45, 45);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    width: 600px;
    height: 600px;
}*/
