box{
    height: 500px;
    width: 500px;
  
    background-color: aquamarine;
    border-radius: 50%;
}
box{
    height: 500px;
    width: 500px;
  
    background-color: aquamarine;
    border-radius: 50%;
}